@font-face {
  font-family: 'Cera Pro';
  src: url(../assets/fonts/CeraPro/CeraPro-Regular.ttf) format('truetype'),
  url(../assets/fonts/CeraPro/CeraPro-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url(../assets/fonts/CeraPro/CeraPro-Medium.ttf) format('truetype'),
  url(../assets/fonts/CeraPro/CeraPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url(../assets/fonts/CeraPro/CeraPro-Bold.ttf) format('truetype'),
  url(../assets/fonts/CeraPro/CeraPro-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url(../assets/fonts/CeraPro/CeraPro-Black.ttf) format('truetype'),
  url(../assets/fonts/CeraPro/CeraPro-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}